<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="icon" type="image/png" href="/my-favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/my-favicon/favicon.svg" />
<link rel="shortcut icon" href="/my-favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/my-favicon/apple-touch-icon.png" />
<link rel="manifest" href="/my-favicon/site.webmanifest" />
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}