<div class="column is-one-third">
    <div class="card">
        <a href="{{ .Permalink }}">
            <!-- show image without margin, if available -->
            <div class="card-image">
                {{ if isset .Params "featured_image" }}
                <figure style="margin: 0">
                    <img src="{{ .Site.BaseURL }}{{.Params.featured_image}}">
                </figure>
                {{ end }}
            </div>
            <!-- show recipe title and tags -->
            <div class="card-content">
                {{ .LinkTitle }}
                <div style="margin-top: 0.5em;">
                    {{ range .Params.Tags }}
                    <p class="tag is-primary is-light">{{ . }}</p>
                    {{ end }}
                </div>
            </div>
        </a>
    </div>
</div>