<aside class="menu">
    <p class="menu-label">
        Recepten
    </p>
    <ul class="menu-list">
        <li><a href="{{ relURL "ontbijt" }}">Ontbijt</a></li>
        <li><a href="{{ relURL "soepen" }}">Soepen</a></li>
        <li><a href="{{ relURL "italiaans" }}">Italiaans</a></li>
    </ul>
    {{/* <p class="menu-label">
        Recepten anders
    </p>
    <ul class="menu-list">
        <li>
            <a class="is-active">Ontbijt</a>
            <ul>
                <li><a>Smoothiebowl</a></li>
                <li><a>Granola</a></li>
            </ul>
        </li>
        <li>
            <a>Soepen</a>
            <ul>
                <li><a>Thom Kha Kai</a></li>
                <li><a>Courgette soep</a></li>
            </ul>
        </li>
        <li>
            <a>Italiaans</a>
            <ul>
                <li><a>Mediterraanse rijst</a></li>
            </ul>
        </li>
    </ul> */}}
</aside>