<aside class="menu">
    <p class="menu-label">
        Recepten
    </p>
    <ul class="menu-list">
        <li><a href="{{ relURL "ontbijt" }}">Ontbijt</a></li>
        <li><a href="{{ relURL "soepen" }}">Soepen</a></li>
        <li><a href="{{ relURL "salades" }}">Salades</a></li>
        <li><a href="{{ relURL "broodjes" }}">Broodjes en pita's</a></li>
        <li><a href="{{ relURL "wraps" }}">Wraps</a></li>
        <li><a href="{{ relURL "aardappel" }}">Aardappelgerechten</a></li>
        <li><a href="{{ relURL "quiche" }}">Quiche en pizza</a></li>
        <li><a href="{{ relURL "bakplaat" }}">Bakplaatrecepten</a></li>
        <li><a href="{{ relURL "middenoosters" }}">Midden-oosters</a></li>
        <li><a href="{{ relURL "aziatisch" }}">Aziatisch</a></li>
        <li><a href="{{ relURL "italiaans" }} ">Italiaans</a>
            {{/*  <ul>
                <li><a href="{{ relURL "italiaans/pasta" }} ">Pasta</a></li>
                <li><a>Rijst en Orzo</a></li>
                <li><a>Lasagna</a></li>
            </ul>  */}}
        </li>
        <li><a href="{{ relURL "snacks" }}">Snacks</a></li>
        <li><a href="{{ relURL "sauzen" }}">Sauzen en smeersels</a></li>
    </ul>
    <p class="menu-label">
        Links naar recepten
    </p>
    <ul class="menu-list">
        <li><a href="{{ relURL "linkjes" }}">Linkjes</a></li>
    </ul>
</aside>