{{ define "main" }}

<div class="container">

    <!-- This is a gallery with links to seasonal recipe content -->
  <section class="gallery">
    <h1 class="title">In het seizoen</h1>
    <div class="columns is-multiline">
      {{ range $page := where .Site.RegularPages "Params.tags" "intersect" (slice "zomer")}} 
        {{ partial "recipe-card.html" $page }}
      {{ end }}
    </div>
  </section>

  <!-- This is a gallery with links to newest recipe content -->
  <section class="gallery">
    <h1 class="title">Nieuwste recepten</h1>
    <div class="columns is-multiline">
      {{ range $page := where .Site.RegularPages "Params.tags" "intersect" (slice "nieuw")}} 
        {{ partial "recipe-card.html" $page }}
      {{ end }}
    </div>
  </section>

  <!-- This is a gallery with links to favorite recipe content -->
  <section class="gallery">
    <h1 class="title">Kirstens favorieten</h1>
    <div class="columns is-multiline">
      {{ range $page := where .Site.RegularPages "Params.tags" "intersect" (slice "favoriet")}} 
        {{ partial "recipe-card.html" $page }}
      {{ end }}
    </div>
  </section>

  <!-- About section -->
  <section class="section">
    <div class="columns">
      <div class="column is-one-quarter">
        {{ $kirstenimg := resources.Get "images/IMG_kirsten.jpg" }}
            <img src="{{ $kirstenimg.RelPermalink }}">
      </div>
      <div class="column">
        <h2 class="title">Over Kirstens Kook Creaties</h2>
        <!-- This refers to the index md file in the content folder -->
        {{ .Content }}
      </div>
    </div>
  </section>

</div>

{{ end }}