{{ define "main" }}

<div class="container">

  <!-- This refers to the index md file in the content folder -->
  <div class="content">
    {{ .Content }}
  </div>

  <!-- This is a gallery with links to newest recipe content -->
  <div class="content">
    <h1>Nieuwste recepten</h1>

    <div class="columns">
      <!-- TODO: Change this to tag = nieuw -->
      {{ range $page := where .Site.RegularPages "Type" "soepen" }} 
        {{ partial "recipe-box.html" $page }}
      {{ end }}
    </div>
    
  </div>

</div>

{{ end }}