{{ define "main" }}

<div class="container">

  <!-- Suprise me button -->
  <div class="content">
    {{ range first 1 (shuffle (.Site.RegularPages)) }}
      <a href="{{ .RelPermalink }}">
        <button class="button is-medium is-primary is-light">Verras me!</button>
      </a>
    {{ end }}
  </div>

  <!-- This is a gallery with links to newest recipe content -->
  <div class="content">
    <h1>Nieuwste recepten</h1>

    <div class="columns is-multiline">
      {{ range $page := where .Site.RegularPages "Params.tags" "intersect" (slice "nieuw")}} 
        {{ partial "recipe-card.html" $page }}
      {{ end }}
    </div>

  </div>

    <!-- This is a gallery with links to favorite recipe content -->
    <div class="content">
      <h1>Kirstens favorieten</h1>
  
      <div class="columns is-multiline">
        {{ range $page := where .Site.RegularPages "Params.tags" "intersect" (slice "favoriet")}} 
          {{ partial "recipe-card.html" $page }}
        {{ end }}
      </div>
  
    </div>

  <!-- About section -->
  <div class="content">
    <h1>Over Kirstens Kook Creaties</h1>
    <div class="columns">
      <div class="column is-one-quarter">
        <img src="PXL_20230609_144613315.jpg">
      </div>
      <div class="column">
        <!-- This refers to the index md file in the content folder -->
        {{ .Content }}
      </div>
    </div>
  </div>

</div>

{{ end }}